<form action="/partner/search" method="POST" class="partners-search-form">
  <div>
    <select name="activity" id="partners-select-activity">
      {{#each options.activities}}
      <option value="{{this.id}}">{{this.text}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <select name="location" id="partners-select-location">
      {{#each options.locations}}
      <option value="{{this.id}}">{{this.text}}</option>
      {{/each}}
    </select>
  </div>
  <div>
    <button type="submit" class="button">Go</button>
  </div>
</form>

<script>
  var partnersSelectActivity = document.getElementById('partners-select-activity');
  var partnersSelectLocation = document.getElementById('partners-select-location');

  var currentSelector = '{{selector}}';

  if (currentSelector === 'loc') {
    setActiveLocation('{{selected}}');
  } else if (currentSelector === 'act') {
    setActiveActivity('{{selected}}');
  } else if (currentSelector === 'both') {
    setActiveLocation('{{selected.loc}}');
    setActiveActivity('{{selected.act}}');
  }

  function setActiveLocation(id) {
    if(partnersSelectLocation.hasChildNodes()) {  
      var children = partnersSelectLocation.childNodes;

      for(var i = 0; i < children.length; i++) {
        if(id === children[i].value) {
          children[i].selected = true;
        }
      }
    }
  }

  function setActiveActivity(id) {
    if(partnersSelectActivity.hasChildNodes()) {
      var children = partnersSelectActivity.childNodes;

      for(var i = 0; i < children.length; i++) {
        if(id === children[i].value) {
          children[i].selected = true;
        }
      }
    }
  }
</script>
